@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: #2d3748;
  transition: 0.2s;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #d8d6d6;
  transition: 0.2s;
  position: sticky;
  top: 0;
  z-index: 5;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  color: #2d3748;
  background-color: #d8d6d6;
  transition: 0.2s;
  position: sticky;
  bottom: 0;
  z-index: 5;
}

.container {
  flex: 1;
}

.nav a {
  color: #4a5568;
  transition: 0.2s;
}
.nav a:hover {
  color: #2b6cb0;
  transition: 0.2s;
}

.bgactive {
  background-color: #2b6cb0;
  color: #f7fafc;
}
.bgactive:hover {
  color: #f7fafc;
}

.toggle {
  cursor: pointer;
}

.checkbox_t {
  position: absolute;
  opacity: 0;
}
.checkbox_t:checked + .switch {
  background-color: #ffffff;
}
.checkbox_t:checked + .switch:before {
  left: 45px;
  background-color: #2d3748;
}

.switch {
  background-color: #2d3748;
  width: 70px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  transition: background 0.2s;
}

.switch:before {
  content: "";
  background-color: #ffffff;
  width: 22px;
  height: 22px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: left 0.5s;
}

.loader {
  border: 16px solid #d8d6d6;
  border-top: 16px solid #2b6cb0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dark-mode body {
  background-color: #2d3748;
  transition: 0.2s;
}
.dark-mode header {
  background-color: #283141;
  transition: 0.2s;
}
.dark-mode h1 {
  color: #f7fafc;
  transition: 0.2s;
}
.dark-mode .nav a {
  color: #e2e8f0;
  transition: 0.2s;
}
.dark-mode .nav a:hover {
  color: #f36259;
  transition: 0.2s;
}
.dark-mode .bgactive {
  background-color: #f36259;
  color: #2d3748;
}
.dark-mode .bgactive:hover {
  color: #2d3748;
}
.dark-mode footer {
  background-color: #283141;
  color: #f7fafc;
  transition: 0.2s;
}
.dark-mode span {
  background-color: #f7fafc;
}
.dark-mode .loader {
  border-top: 16px solid #f36259;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 15px;
  }
  header {
    height: 50px;
  }
  .nav {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 210px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform 0.5s ease-in-out;
  }
  .nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 30px;
    text-decoration: none;
    font-size: 13px;
  }
  .hamburger_menu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45px;
    height: 40px;
    transition: 0.6s;
    scale: 0.5;
  }
  .check {
    position: absolute;
    display: block;
    z-index: 1;
    margin-left: 45px;
    height: 50px;
    width: 50px;
    opacity: 0;
    scale: 0.7;
  }
  .check:checked ~ .nav {
    transform: scaleY(1);
  }
  .check:checked ~ .hamburger_menu span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    margin-left: 8px;
  }
  .check:checked ~ .hamburger_menu span:nth-child(2) {
    opacity: 0;
  }
  .check:checked ~ .hamburger_menu span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
    margin-left: 8px;
  }
  .check:checked ~ .hamburger_menu {
    transform: rotate(180deg);
  }
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: #2d3748;
  }
  span:nth-child(1) {
    transition: 0.4s;
  }
  span:nth-child(2) {
    margin-top: 15px;
    transition: 0.4s;
  }
  span:nth-child(3) {
    margin-top: 30px;
    transition: 0.4s;
  }
  label {
    scale: 0.7;
  }
  footer p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  header {
    height: 70px;
  }
  .nav {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 230px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform 0.5s ease-in-out;
  }
  .nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 30px;
    text-decoration: none;
  }
  .hamburger_menu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45px;
    height: 40px;
    transition: 0.6s;
    scale: 0.6;
  }
  .check {
    position: absolute;
    display: block;
    z-index: 1;
    margin-left: 155px;
    height: 50px;
    width: 50px;
    opacity: 0;
  }
  .check:checked ~ .nav {
    transform: scaleY(1);
  }
  .check:checked ~ .hamburger_menu span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    margin-left: 8px;
  }
  .check:checked ~ .hamburger_menu span:nth-child(2) {
    opacity: 0;
  }
  .check:checked ~ .hamburger_menu span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
    margin-left: 8px;
  }
  .check:checked ~ .hamburger_menu {
    transform: rotate(180deg);
  }
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: #2d3748;
  }
  span:nth-child(1) {
    transition: 0.4s;
  }
  span:nth-child(2) {
    margin-top: 15px;
    transition: 0.4s;
  }
  span:nth-child(3) {
    margin-top: 30px;
    transition: 0.4s;
  }
  label {
    scale: 0.8;
  }
}
@media only screen and (min-width: 768px) {
  header {
    height: 70px;
  }
  h1 {
    font-size: 25px;
  }
  .check, span {
    visibility: hidden;
  }
  .nav {
    display: flex;
    gap: 25px;
  }
  .nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
  }
  label {
    scale: 0.9;
    margin-left: 20px;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 35px;
  }
  header {
    height: 80px;
  }
  .nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  label {
    scale: 0.9;
    margin-left: 20px;
  }
}/*# sourceMappingURL=main.css.map */