.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}
.block {
    background-color: aqua;
    width: 100px;
    height: 100px;
    &:nth-child(2) {
        width: 200px;
    }
    &:nth-child(3) {
        width: 200px;
    }
}